.app-header {
    display: flex;
    justify-content: space-between;
    background-color: #ececec;
    align-items: center;
    padding-block: 1em;
    .logo {
        color: #222;
        & span {
            color: rgb(247, 201, 50);
        }
    }

    a {
        cursor: pointer;
        font-weight: bold;
        transition: transform 0.8s;
        text-decoration: none;
        color: #222;

        &:hover {
            text-decoration: underline;
        }
    }

}