<section *ngIf="contact$ | async as contact" class="contact-details">
    <section class="btns">
        <img (click)="onBack()" src="../../../assets/icons for misterBitcoin/back.png" alt="return" />
        <img [routerLink]="['/contact', 'edit', contact._id]" src="../../../assets/icons for misterBitcoin/edit.png" alt="edit" />
    </section>
    <img [src]="contact.imgUrl" [alt]="contact.name">
    <p>Name: {{contact.name}}</p>
    <p>Phone: {{contact.phone}}</p>
    <p>Email: {{contact.email}}</p>
</section>