<section class="signup">
    <img src="../../../assets/icons for misterBitcoin/bitcoin.png" alt="bitcoin-icon" />
    <form [formGroup]="userForm" (ngSubmit)="onSaveUser()">
        <label for="username">Please enter your name</label>
        <input type="text" formControlName="name" id="name" id="name" placeholder="Your name" />
        <ng-container *ngIf="userForm.controls['name'] as userName">
            <p *ngIf="userName.touched && userName.invalid">
                <span *ngIf="userName.errors?.['notEnglishLetters']">
                    Only English letters and spaces are allowed
                </span>
            </p>
        </ng-container>
        <button class="submit-btn">Sign up</button>
    </form>
</section>