.contact-preview {
    display: flex;
    background-color: #ebebebba;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-block: 1em;
    padding: 1em;
    font-family: Tahoma, Arial, Helvetica, sans-serif;

    img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
}