/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: fa-brans;
    src: url('/assets/fa-brands-400.ttf');
}

* {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}